.bg-nav {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

.links {
    /* display: flex; */
    /* justify-content: flex-end;
    flex-direction: row-reverse; */
}

.navbar-nav {
    /* display: flex;
    justify-content: center; */
}